body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.game {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .game-link:hover {
        background-color: #3498db;
    }

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: #ecf0f1;
}
div {
    width: 100%; /* or any specific width */
    margin-left: auto;
    margin-right: auto;
}
iframe {
    display: block; /* To make sure margins are applied */
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Adjust width as needed */
}